.content {
    margin-top: 20px;
}

.category {
    background-color: #f5f5f5;
    padding: 16px;
    border-radius: 4px;
    height: 1%;
}

.category h3 {
    font-size: 18px;
    font-weight: bold;
}

.list-menu {
    list-style: none;
    padding: 0;
}

.list-menu > li {
    margin: 16px 0;
    border-bottom: 1px dashed #ccc;
    transition: all linear .2s;
    cursor: pointer;
}

.list-menu > li:hover > a {
    color: var(--primary-color);
}

.list-menu > li a {
    text-decoration: none;
    color: var(--text-color);
}

.sub-list-menu {
    padding: 0;
    border-top: 1px dashed #e7e7e7;
    display: none;
}

.sub-list-menu > li {
    list-style: none;
    position: relative;
    border-bottom: 1px dashed #e7e7e7;
    margin: 10px 0;
    margin-left: 14px;
}

.sub-list-menu > li:hover {
    color: var(--primary-color);
}

.list-menu > li .heading span {
    font-size: 20px;
}

.list-menu > li:hover .heading a, 
.list-menu > li:hover .heading span {
    color: var(--primary-color);
}

.sub-list-menu > li:hover a {
    color: var(--primary-color);
}

.sub-list-menu > li.active {
    color: var(--primary-color);
}

.list-menu > li.active .heading a,
.list-menu > li.active .heading span {
    color: var(--primary-color);
}

.introduce {
    padding-right: 30px;
}

.introduce .title {
    background-color: #f5f5f5;
    padding: 12px 20px;
    font-size: 18px;
    border-radius: 4px;
    font-weight: bold;
    text-transform: uppercase;
}

.news-item .time {
    margin: 10px 0;
    color: var(--text-color);
}

.news-item .time p {
    padding-left: 10px;
}

.news-item h3 {
    font-size: 18px;
    color: #000;
    transition: all linear .2s;
}

.news-item h3:hover {
    color: var(--primary-color);
}

.news-item p {
    color: #000;
    font-size: 14px;
}