<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tin tức</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" th:href="@{/web/css/style.css}">
    <link rel="stylesheet" th:href="@{/web/css/favourite.css}">
</head>
<body>
    <div class="main">
        <div th:replace="web/fragments/header :: header"></div>

        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-9 introduce">
                        <div class="title">Mục yêu thích</div>
                        <div class="box-product">
                            <div class="product">
                                <div class="row">
                                    <div class="col-4 mt-2 d-flex justify-content-center">
                                        <a href="">
                                            <div class="new-product-item">
                                                <div class="product-img">
                                                    <img th:src="@{/web/img/nike/nam/nike1.png}" alt="Product Image" class="original-image">
                                                    <img th:src="@{/web/img/nike/nam/nike2.png}" alt="Product Image" class="new-image">
                                                    <p class="discount">20%</p>
                                                    <div class="icons">
                                                        <div class="icon">
                                                            <i class="fa-regular fa-heart"></i>
                                                        </div>
                                                        <div class="icon">
                                                            <a href="productdetail.html"><i class="fa-solid fa-sliders"></i></a>
                                                        </div>
                                                        <div class="icon">
                                                            <i class="fa-solid fa-expand" data-bs-toggle="modal" data-bs-target="#expand"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="product-details">
                                                    <h2 class="manufacturer">Nike</h2>
                                                    <h3 class="name">Nike Zoom Pegasus 33</h3>
                                                    <p class="price">1,550,000 VNĐ</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-4 mt-2 d-flex justify-content-center">
                                        <a href="">
                                            <div class="new-product-item">
                                                <div class="product-img">
                                                    <img th:src="@{/web/img/nike/nam/nike1.png}" alt="Product Image" class="original-image">
                                                    <img th:src="@{/web/img/nike/nam/nike2.png}" alt="Product Image" class="new-image">
                                                    <p class="discount">20%</p>
                                                    <div class="icons">
                                                        <div class="icon">
                                                            <i class="fa-regular fa-heart"></i>
                                                        </div>
                                                        <div class="icon">
                                                            <a href="productdetail.html"><i class="fa-solid fa-sliders"></i></a>
                                                        </div>
                                                        <div class="icon">
                                                            <i class="fa-solid fa-expand" data-bs-toggle="modal" data-bs-target="#expand"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="product-details">
                                                    <h2 class="manufacturer">Nike</h2>
                                                    <h3 class="name">Nike Zoom Pegasus 33</h3>
                                                    <p class="price">1,550,000 VNĐ</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-4 mt-2 d-flex justify-content-center">
                                        <a href="">
                                            <div class="new-product-item">
                                                <div class="product-img">
                                                    <img th:src="@{/web/img/nike/nam/nike1.png}" alt="Product Image" class="original-image">
                                                    <img th:src="@{/web/img/nike/nam/nike2.png}" alt="Product Image" class="new-image">
                                                    <p class="discount">20%</p>
                                                    <div class="icons">
                                                        <div class="icon">
                                                            <i class="fa-regular fa-heart"></i>
                                                        </div>
                                                        <div class="icon">
                                                            <a href="productdetail.html"><i class="fa-solid fa-sliders"></i></a>
                                                        </div>
                                                        <div class="icon">
                                                            <i class="fa-solid fa-expand" data-bs-toggle="modal" data-bs-target="#expand"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="product-details">
                                                    <h2 class="manufacturer">Nike</h2>
                                                    <h3 class="name">Nike Zoom Pegasus 33</h3>
                                                    <p class="price">1,550,000 VNĐ</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-4 mt-2 d-flex justify-content-center">
                                        <a href="">
                                            <div class="new-product-item">
                                                <div class="product-img">
                                                    <img th:src="@{/web/img/nike/nam/nike1.png}" alt="Product Image" class="original-image">
                                                    <img th:src="@{/web/img/nike/nam/nike2.png}" alt="Product Image" class="new-image">
                                                    <p class="discount">20%</p>
                                                    <div class="icons">
                                                        <div class="icon">
                                                            <i class="fa-regular fa-heart"></i>
                                                        </div>
                                                        <div class="icon">
                                                            <a href="productdetail.html"><i class="fa-solid fa-sliders"></i></a>
                                                        </div>
                                                        <div class="icon">
                                                            <i class="fa-solid fa-expand" data-bs-toggle="modal" data-bs-target="#expand"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="product-details">
                                                    <h2 class="manufacturer">Nike</h2>
                                                    <h3 class="name">Nike Zoom Pegasus 33</h3>
                                                    <p class="price">1,550,000 VNĐ</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-4 mt-2 d-flex justify-content-center">
                                        <a href="">
                                            <div class="new-product-item">
                                                <div class="product-img">
                                                    <img th:src="@{/web/img/nike/nam/nike1.png}" alt="Product Image" class="original-image">
                                                    <img th:src="@{/web/img/nike/nam/nike2.png}" alt="Product Image" class="new-image">
                                                    <p class="discount">20%</p>
                                                    <div class="icons">
                                                        <div class="icon">
                                                            <i class="fa-regular fa-heart"></i>
                                                        </div>
                                                        <div class="icon">
                                                            <a href="productdetail.html"><i class="fa-solid fa-sliders"></i></a>
                                                        </div>
                                                        <div class="icon">
                                                            <i class="fa-solid fa-expand" data-bs-toggle="modal" data-bs-target="#expand"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="product-details">
                                                    <h2 class="manufacturer">Nike</h2>
                                                    <h3 class="name">Nike Zoom Pegasus 33</h3>
                                                    <p class="price">1,550,000 VNĐ</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="row d-flex flex-wrap" style="width: 85%;">
                            <div class="category">
                                <div class="col-12">
                                    <h3>Danh mục trang</h3>
                                    <ul class="list-menu">
                                        <li><a href="home.html">Trang chủ</a></li>
                                        <li><a href="introduce.html">Giới thiệu</a></li>
                                        <li class="d-flex flex-wrap flex-column">
                                            <div class="heading d-flex justify-content-between align-items-center">
                                                <a href="products.html">Sản phẩm</a>
                                                <span>+</span>
                                            </div>
                                            <ul class="sub-list-menu">
                                                <li><a href="">Giày Nike</a></li>
                                                <li><a href="">Giày Adidas</a></li>
                                                <li><a href="">Giày Puma</a></li>
                                                <li><a href="">Giày Reebok</a></li>
                                                <li><a href="">Giày New Balance</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="news.html">Tin tức</a></li>
                                        <li><a href="contact.html">Liên hệ</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div th:replace="web/fragments/footer :: footer"></div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
                $(".content .category .list-menu > li .heading").click(function () {
                    var $currentHeading = $(this);
                    $currentHeading.parent().toggleClass("active");
                    var $subListMenu = $currentHeading.siblings('.sub-list-menu');
                    $subListMenu.slideToggle();
                    if ($currentHeading.parent().hasClass('active')) {
                        $currentHeading.find('span').text('-');
                    } else {
                        $currentHeading.find('span').text('+');
                    }
                });
            });
    </script>
</body>
</html>