<div class="footer" th:fragment="footer" xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <div class="contain">
            <div class="information">
                <h2>Theo dõi chúng tôi trên</h2>
                <ul>
                    <li>
                        <a href="">
                            <i class="fa-brands fa-facebook"></i>
                            <span>Facebook</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fa-brands fa-instagram"></i>
                            <span>Instagram</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fa-brands fa-twitter"></i>
                            <span>Twitter</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fa-brands fa-youtube"></i>
                            <span>Youtube</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="information">
                <h2>Hỗ trợ khách hàng</h2>
                <ul>
                    <li>
                        <a href="">
                            <span>Chăm sóc khách hàng</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span>Thanh toán</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span>Hướng dẫn mua hàng</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="information">
                <h2>Chính sách</h2>
                <ul>
                    <li>
                        <a href="">
                            <span>Chế độ bảo hành</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span>Chính sách đổi hàng</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span>Bảo mật thông tin</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span>Chính sách giao nhận</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="map">
                <div class="map-link">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.640710783735!2d106.66688331084606!3d10.
                            838783357995371!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317529a9430b2aaf%3A0x869d31ba96dfe6cb!2zMzU
                            wIE5ndXnhu4VuIFbEg24gTMaw4bujbmcsIFBoxrDhu51uZyAxNiwgR8OyIFbhuqVwLCBUaMOgbmggcGjhu5EgSOG7kyBDaMOtIE1pbmgsIFZp4b
                            uHdCBOYW0!5e0!3m2!1svi!2s!4v1695308779335!5m2!1svi!2s" width="300" height="200" style="border:0;" allowfullscreen=""
                            loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="contact">
                    <p>
                        Địa chỉ: Nguyễn Văn Lượng, Gò Vấp, Thành phố Hồ Chí Minh, Việt Nam.
                    </p>
                    <a href="">
                        <i class="fa-solid fa-phone-volume"></i>
                        <span>1900 6789</span>
                    </a>
                    <p>Hỗ trợ khách hàng 24/24</p>
                </div>
            </div>
        </div>

        <div class="copyright">
            <p>© Bản quyền thuộc về <span>ND.VN</span> 2023</p>
        </div>
    </div>
</div>